body{
  background: #f9f5f0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  /* centers horizontally */
  justify-content: center;
  /* centers vertically */
  align-items: center;
  height:100vh;
}

.container {
  background: #fff;
  /* for spacing */
  padding: 2rem 3rem;
  /* rounds corners */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  /* aligns text in container */
  text-align: center;
  max-width: 500px;
}

button{
  background-color: #d4a5ff;
  /* text color */
  color: white;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  transition: all 0.3s ease;
}

button:hover{
  background-color: #c084fc;
}

h3{
  padding-top: 2rem;
}